@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-darker: #1a1a1a;
    --color-primaryblue: #2a64f6;
    --color-darkbrown: #504b4b;
    --color-darkblack: #121212;
    --color-lightsand: #282828;
    --color-lightblack: #202020;
    --color-mediumgrey: #bcbcbc;
    --color-darkgrey: #212121;
    --color-tealgreen: #d3d6d4;
    --color-grey: #999999;
    --color-brown: #b26810;
    --color-darkpurple: #4e10ac;
    --color-lightyellow: #f0d85a;
    --color-lightred: #e54c4c;
    --color-lightgreen: #10ae51;
    --color-offwhite: #d1d1d1;
    --color-richwhite: #fafafa;
    --color-lightgrey: #595959;
    --color-offgrey: #b7b7b7;
    --color-orange: #f7931a;
    --color-purple: #6d0cff;
    --color-green: #65f295;
    --color-lightblue: #3366cc;
    --color-darkred: #dc3912;
    --color-mediumred: #e54d4d;
    --color-darkgreen: #109618;
    --color-lightorange: #ff9900;
    --color-slate: #a3a3a3;
    --color-darkslate: #3b3939;
    --color-mediumslate: #262626;
    --color-richslate: #8d8d8d;
    --color-lightslate: #b9b9b9;
    --color-sand: #272727;
    --color-mediumsand: #bababa;
    --color-fadeblack: #171717;
    --color-darksand: #303030;
    --color-richsand: #2b2b2b;
    --color-smoke: #D2D2D2;
    --color-howlblack: #1f1d2d;
    --color-waterwhite: #d0d0d0;
    --color-knightblack: #010314;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-poppins);
    --font-poppins: 'Poppins', sans-serif;
    --font-outfit: 'Outfit', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --breakpoint-xs: 550px;
    --breakpoint-3xl: 1920px;
    --color-primary-gradient: radial-gradient(
        50.91% 97.54% at 50% 2.46%,
        rgba(0, 26, 255, 0.6) 0%,
        rgba(0, 26, 255, 0.3) 100%
    );

    --text-custom-xs: 8px;
    --text-custom-sm: 10px;
}

:root {
    --radius: 0.625rem;
    --background: #000103;
    --foreground: #ffffff;
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: #001aff;
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: #9fb0d8;
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: rgba(255, 255, 255, 0.08);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: rgba(255, 255, 255, 0.07);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --radius: 0.625rem;
    --background: #020204;
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: rgba(255, 255, 255, 0.07);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50 scroll-smooth;
    }

    body {
        @apply bg-background text-foreground;
    }

    button:not(:disabled),
    [role='button']:not(:disabled) {
        cursor: pointer;
    }
}

::-webkit-scrollbar {
    display: none;
}

@layer utilities {
    .custom-container {
        @apply mx-auto w-full max-w-[760px] px-4 lg:max-w-[1172px];
    }
    .main-heading {
        @apply text-[40px] leading-[120%] font-semibold md:text-[50px] lg:text-[64px];
    }
    .secondary-heading {
        @apply text-[26px] leading-[120%] md:text-3xl lg:text-[48px];
    }
    .description {
        @apply text-base leading-[130%] text-[#d0d0d0] md:text-lg;
    }
    .small-text {
        @apply font-outfit text-base leading-[130%] text-[#d0d0d0];
    }
    .strokeLinejoin {
        @apply text-xl leading-[120%] text-white md:text-2xl;
    }
    .large-text {
        @apply text-xl leading-[120%] text-white sm:text-[22px] lg:text-[36px];
    }

    .primary-button-gradient {
        background: radial-gradient(50.91% 97.54% at 50% 2.46%, rgba(0, 26, 255, 0.6) 0%, rgba(0, 26, 255, 0.3) 100%);
    }

    .primary-vibrant-button-gradient {
        background: radial-gradient(50.91% 97.54% at 50% 2.46%, rgba(0, 26, 255, 0.6) 0%, rgba(0, 26, 255, 0.3) 100%);
    }

    .primary-vibrant-button-shadow {
        box-shadow: 0px 11px 80px 28px #001aff4d;
    }

    .primary-button-shadow {
        box-shadow: 0px 11px 80px 28px rgba(0, 26, 255, 0.3);
    }

    .primary-button-border {
        border: 1px solid;

        border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.38) 0%, #001aff 100%);

        border-image-slice: 1;
    }
    .gradient-text {
        background: radial-gradient(70.71% 70.71% at 50% 50%, #fff 30%, rgba(255, 255, 255, 0.5) 84.77%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-border-tactic{

background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);


    }
}
